In [24]:
#Import Libraries
import pandas as pd
import numpy as np
#import xgboost as xgb
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
#import shap
#shap.initjs()

In [9]:
#Constants
data_directory='../data/'

In [12]:
#Create dataframe for the ground truth data set
df_gt_boston=pd.read_csv(data_directory+'Boston.csv')
df_gt_boston

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [16]:
#Split train and test data set sizes

train_size=70
test_size=100-train_size

train_data=df_gt_boston.sample(frac=train_size/100,random_state=200) #random state is a seed value
test_data=df_gt_boston.drop(train_data.index)

In [17]:
#Train Data
train_data.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
207,208,0.25199,0.0,10.59,0,0.489,5.783,72.7,4.3549,4,277,18.6,389.43,18.06,22.5
13,14,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.4
22,23,1.23247,0.0,8.14,0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72,15.2

In [18]:
#Test Data
test_data.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4

In [35]:
# Training dataset 
#features
x_train=train_data.loc[:, 'crim':'lstat']
#predictor
y_train=train_data['medv']

# Test dataset 
#features
x_test=test_data.loc[:, 'crim':'lstat']
#predictor
y_test=test_data['medv']



num_train_val=len(x_train)
num_test_val=len(x_test)
print("Train Values : %d" % (num_train_val))
print(" Test Values : %d" % (num_test_val))

Train Values : 354
 Test Values : 152

In [36]:
# Instantiate Linear Regression model
housing_predictor = LinearRegression()

In [37]:
# Train the linear regression predictor model to fit the training data
housing_predictor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
# Test the trained model
preds_LR = housing_predictor.predict(x_test)
predictions = [round(value,2) for value in preds_LR]
print ('Example Predicted value (vs) Actual Value')
print("Predicted Value : %f" % (predictions[0]) )
print("   Actual Value : %f" % (y_test[0]))

Example Predicted value (vs) Actual Value
Predicted Value : 29.870000
   Actual Value : 24.000000

In [41]:
# Measure Accuracy of Prediction

rmse = np.sqrt(mean_squared_error(y_test, predictions))
rounded_scaled = round(rmse*1000,0)
range_val=round((max(y_test)-min(y_test))*1000,0)

print("         Root Mean Square Error (RMSE) :$%f" % (rounded_scaled) )
print("Range of Actual Values in Test dataset :$%f" % (range_val))
print("")
print("Model is able to predict the price of houses within the amount of :$%f" %(rounded_scaled))

         Root Mean Square Error (RMSE) :$4745.000000
Range of Actual Values in Test dataset :$44400.000000

Model is able to predict the price of houses within the amount of :$4745.000000